.App {
  text-align: center;
}

.App-logo {
  height: 75vmin;
  max-width: 100%;
  pointer-events: none;
}


.App-body {
  background-color: #f25c05;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  position: center;
  color: #4613d2;
}

/* GLOBAL STYLES */
body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient
{
 width: 100%;
 height: 800px;
 padding: 0px;
 margin: 0px;
}



